[user]
  name = mitsui
  email = mitsui@sobuline.com
[core]
  quotepath = false
  editor = /usr/bin/vim
  pager = delta
[color]
  ui = true
[gui]
  encoding = utf-8
[push]
  default = simple
[alias]
  amend = commit --amend -C HEAD
  st = status
  sync = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*')
  browse = !hub browse
  compare = !hub compare $2
[pull]
  rebase = false
[interactive]
  diffFilter = delta --color-only
[delta]
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
