[user]
  name = mitsui
  email = mitsui@sobuline.com
[core]
  quotepath = false
  editor = nvim
[push]
  default = current
  autoSetupRemote = true
[commit]
  verbose = true
[pull]
  rebase = false
[interactive]
  diffFilter = delta --color-only
[alias]
  st = status
[delta]
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[diff]
  tool = difftastic
  external = difft
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
